{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<h1 style="text-align: center; font-size : 80px ;color: green"> This are news Articles</h1>
<hr>

    <div class='container-fluid' style=" font-size : 30px">
        {% for new in news %}
        <div class="row">
                <div class="col-md-4">
                        <img src="{{new.image}}" alt=" ops! img not specified" height="300" width="300" style="border:2px solid black">
                    </div>
                    <hr>
                    <div class="col-md-8">
                        <p>{{new.author}}</p>
                        <p>{{new.description}}</p>
                        <a href="{{new.articlesSource}}" class="btn btn-success">Read Article</a>
                        <p>{{new.timePublished}}</p>
                </div>
            
            
        </div><br>
        {% endfor %}
    </div>

{% endblock %}